
.localData {
    width: 50%;
    height: calc(100vh - 36px);
    background-color: rgb(233, 237, 242);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.topWrapper {
    display: flex;
    flex-direction: column;
}
.localData .wrapper {
    font-weight: 550;
    color: rgb(80, 80, 80);
}

.localData .wrapper .label {
    padding-left: 16px;
    border-left: 2px solid rgb(3, 143, 244);
    margin-bottom: 20px;
}

.code {
    font-weight: normal;
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
    color: #000;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
}

.divider {
    width: 1px;
    height: 400px;
    background-color: rgba(0, 0, 0, .06);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    margin: 0 auto;

}

.userForm {
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;


}

.buttonWrapper {
    position: relative;
    margin-left: auto;
}
.topBar {
    height: 36px;
    background-color: rgb(3, 143, 244);
    line-height: 36px;
    color: #fff;
    display: flex;
    list-style: none;
}
.topBar li {
    padding: 0 10px;
    cursor: pointer;
}

